/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html, body{
    height: 100%;
    width: 100%;
}

body{
    margin: 0%;
}

/******************************************
/* LAYOUT
/*******************************************/

header{
   display: flex;
   height: 10%;
   width: 100%;
   border: 2px solid orange;
}

.logoHouse{
    height: 100%;
    width: 20%;
    border: 2px solid black;
}

.listHouse{
    height: 100%;
    width: 60%;
    border: 2px solid blue;
}

.buttonHouse{
    height: 100%;
    width: 20%;
    border: 2px solid grey;
}

.firstSection{
    display: flex;
    height: 80%;
    width: 100%;
    border: 2px solid red;
}

.firstSubSec{
    height: 100%;
    width: 50%;
    border: 2px solid green;
}

.firstSecContent{
    height: 70%;
    width: 50%;
    border: 2px solid aqua;
}

.firstSecImageContainer{
    height: 90%;
    width: 100%;
    border: 2px solid crimson;
}

.secondSubSec{
    height: 100%;
    width: 50%;
    border: 2px solid darkblue;
}

.secondSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
    width: 100%;
    border: 2px solid brown;
}

.firstOfFourDivs, .twoOfFourDivs, .thirdOfFourDivs, .fourOfFourDivs{
    height: 90%;
    width: 20%;
    border: 2px solid teal;
}

.thirdSection{
    height: 40%;
    width: 100%;
    border: 2px solid salmon;
}

.thirdSectionContent{
    height: 70%;
    width: 40%;
    border: 2px solid fuchsia;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
