/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html, body{
    height: 100%;
    width: 100%;
}

body{
    margin: 0%;
}

/******************************************
/* LAYOUT
/*******************************************/

header{
   display: flex;
   height: 10%;
   width: 100%;
}

.logoHouse{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}

.listHouse{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 60%;
}

.buttonHouse{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    border: 2px solid grey;
}

.firstSection{
    display: flex;
    height: 80%;
    width: 100%;
}

.firstSubSec{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
}

.firstSecContent{
    height: 70%;
    width: 50%;
}

.firstSecImageContainer{
    margin-top: 4%;
    height: 90%;
    width: 100%;
}

.secondSubSec{
    height: 100%;
    width: 50%;
}

.secondSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 55%;
    width: 100%;
}


.fourSplits{
    height: 80%;
    width: 20%;
}

.fourSplitContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thirdSection{
    display: flex;
    align-items: center;
    height: 40%;
    width: 100%;
}

.thirdSectionContent{
    height: 70%;
    width: 40%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#spriteImages{
    height: 20%;
    width: 20%;
}

#bgImage{
    height: 100%;
    width: 100%;
}

.firstSection, .secondSection, header{
    background: rgb(229 237 246);
}

a{
    text-decoration: none;
    color: darkblue;
}
